
.idea/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pt
*.pth
runs/
wandb/
buchongbao/
DeepLearning-Utils-master/
tools/
deploy/

.idea/
.vscode/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pt
*.pth
*.onnx
*.engine
runs/
wandb/
buchongbao/
DeepLearning-Utils-master/
tools/
deploy/
*.zip
